.container {
  display: flex;
  justify-content: space-around;
}

.list__item {
  margin-bottom: 10px;
}

.matrix {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
}

.matrix__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.matrix__cell {
  display: block;
  width: 20px;
  height: 20px;
  padding: 10px;
}

.matrix__cell_negative {
  color: brown;
}
