.container {
  display: flex;
  justify-content: space-around;
}

.list__item {
  margin-bottom: 30px;
}

.matrix {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  border-top: none;
  border-bottom: none;
  border-radius: 10px;
}

.matrix__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.matrix__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 10px;
}
